.img-person-details{
    background-image: url("https://vignette.wikia.nocookie.net/gameofthrones/images/d/d0/JonSnow8x06.PNG/revision/latest?cb=20190714094440");
    background-repeat: no-repeat;
    background-size: cover;
   background-position: 70% 10%;
    width: 100%;
    height: 300px;
}

/*.img-person-details{*/

/*    width: 100%;*/
/*}*/


.data-born, .data-died{
    display: flex;

}

.data-died:first-child{
    margin-left: 10px;
}.img-person-details{
     background-image: url("https://vignette.wikia.nocookie.net/gameofthrones/images/d/d0/JonSnow8x06.PNG/revision/latest?cb=20190714094440");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: 70% 10%;
     width: 100%;
     height: 300px;
 }

/*.img-person-details{*/

/*    width: 100%;*/
/*}*/


.data-born, .data-died{
    display: flex;

}

.died-person, .born-person{
    margin-left: 10px;
}

.list-aliases-person{
    border-top: 1px solid rgba(0,0,0,0.6);
}

.card-body:last-child p{
    margin-bottom: 0 !important ;
}